body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-image: url('../Images/Login\ Image.jpg'); /* Path to your background image */
  background-size: cover; /* Ensures image covers entire screen */
  background-position: center center; /* Center the image on screen */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100vh; /* Ensures the height covers the entire viewport */
  overflow: hidden; /* Hide any overflow to prevent scrollbars if not needed */
}

.login_form{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    justify-content: center;
}

.login_header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login_header img{
    width: 500px;
}

.login_header h1 {
  font-size: 2.5em;
  color: #ffcb05; 
  text-shadow: 2px 2px #3b4cca; 
}

.login_input{
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size:  1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 15px;
}

.login_button {
    background-color: #ee665c;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
}
.login_button:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

 