/* this is to make my css cleaner and define my font*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Science+Gothic:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    
}


